@font-face {
    font-family: 'Messina Sans Regular';
    src: url('../fonts/MessinaSans-Regular.ttf');
}
@font-face {
    font-family: 'Messina Sans Bold';
    src: url('../fonts/MessinaSans-Bold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Piazzolla&family=Raleway:wght@300;400;600&display=swap');

@font-face {
    font-family: 'Windsor Bold';
    src: url('../fonts/Windsor-Bold.ttf');
}

hr {
  border-top: 1px dotted #424242;
}
body {
	font-family: 'Raleway', sans-serif;
	background: #f5f5f5;
	color: #1d1d1b;
}
/*. TYPOGRAPHY */
h4 {
    font-family: 'Messina Sans Bold', serif;
}
h1,h3,h5 {
  font-family: 'Windsor Bold';
}
p,small {
  font-family: 'Messina Sans Regular', serif;
}
h5,small {
  color: #424242;
}
.a-home {
    font-family: 'Windsor Bold';
    font-size: 20px;
    color: #25163b;
}
/* SECTIONS */
.home {
    margin-top: 10%;
}
/* NEU */
.label-track {
    background-color: black;
    padding: 7px 12px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.1vw;
}
.label-title {
    background-color: black;
    padding: 7px 12px;
    color: white;
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.1vw;
}
.summary {
    padding: 0px 7px;
}
.reset-a {
    text-decoration: none;
    color: inherit;
}
.reset-a:hover {
    color: #969696;
    text-decoration: none;
}
.box-xl-in {
    margin: 15px;
    padding: 25px;
    border-radius: 30px;
    background: #f5f5f5;
    box-shadow:  5px 5px 10px #dddddd, 
             -5px -5px 10px #ffffff;
    min-height: 300px;
}
.big-type { 
  font-size: 64px;
  line-height: 1.0625;
  font-weight: 600;
  font-family: "Windsor Bold";
}
.masked-copy { 
  -webkit-background-clip: text;
  color: transparent !important; 
}
.masked-copy p {
  display: inline;
}
.texture-orange {
  color: #e5895f;
  background-image: url('../images/bgs/1.jpg');
}
.pdf-view {
  height: 100%;
}
.logo-bot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 90px;
    height: auto;
}
.box {
   border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: #384999;
    padding-top: 17%;
}